<!DOCTYPE html>
<html lang="en">
<head>
    <title>People</title>
</head>
<body>
<h1> Task creation form </h1>

<form action="/createNewTodo" method="POST">
    <label for="todo">Task Info</label>
    <input type="text" id="todo" name="todo" placeholder="Please enter you task..">
    <input type="submit" value="Create Todo!">
</form>

</body>
</html>