<% if @places.count > 0%>
        <% @places.each do | place |%>
            <h3> <%= link_to place.name, place_path(place)%> </h3>
            <p> <%= place.desc%> </p>
        <%end%>
<%else%>

        <p> No places found </p>
<%end%>

<%= link_to "Add place" , new_place_path%>
